<!DOCTYPE html>
<html lang="en">
<%- include('head') %>
<body>
    <div class="main-content">

        <% if (locals.error_message)  { %>
            <div class="error_message">
                <%= locals.error_message  %>
            </div>
        <% } %>
        <div class="container">
            <div class="logo">
                <i class="fas fa-link"></i>
                <h1>μrl</h1>
            </div>
            <form action="/shorten" method="POST">
                <div class="input-group">
                    <i class="fas fa-globe"></i>
                    <input type="url" name="original_url" placeholder="Enter your URL here" required>
                </div>
                <button type="submit">
                    <i class="fas fa-cut"></i>
                    Shorten URL
                </button>
            </form>
        </div>
    </div>

    <%- include('Footer') %>
</body>
</html>