<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>μrl - Micro Url</title>
</head>
<body>
    <header>
        <div class="name">μrl</div>

        <nav>
            <ul>
                <li>Shorten</li>
            </ul>
        </nav>
    </header>
</body>
</html>